<html>

<head>
<title>Chipping in!</title>
</head>
<a name="chipin"></a>
<body>
<h1>
Chip in!
</h1>
<p>You can help me out financially here. Funds collected this way have three purposes: 
<ul>
<li> To pay for critical services that support this website. </li>
<li> To tell me whether people feel this site is useful. </li>
<li> To give me more motivation to keep this going! </li>
</p>
</ul>
<p>
(via Paypal, $5)

</p>

<p>You can also chip in your social network by reccomending this site to your friends.</p>
<a class="icon-facebook" rel="nofollow"
    href="http://www.facebook.com/"
    onclick="popUp=window.open(
        'http://www.facebook.com/sharer.php?u=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-facebook-square fa-5x"></i>
</a>

<a class="icon-gplus" rel="nofollow"
    href="http://www.plus.google.com/"
    onclick="popUp=window.open(
        'https://plus.google.com/share?url=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-google-plus-square fa-5x"></i>
</a>

<a class="icon-linkedin" rel="nofollow"
    href="http://www.linkedin.com/"
    onclick="popUp=window.open(
        'http://www.linkedin.com/shareArticle?url=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-linkedin-square fa-5x"></i>
</a>

<a class="icon-stumbleupon" rel="nofollow"
    href="http://www.stumbleupon.com/"
    onclick="popUp=window.open(
        'http://www.stumbleupon.com/submit?url=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-stumbleupon fa-5x"></i>
</a>

<a class="icon-email" rel="nofollow"
    href="mailto:?subject=Solar App&amp;
    body=I found this useful app at https://kohleth.shinyapps.io/solarapp that lets you compare your solar PV output with your neighbours.">
    <i class="fa fa-envelope fa-5x"></i>
</a>


</body>
</html>
