<html>

<head>
<title>Title</title>
</head>

<body>
<a class="icon-facebook" rel="nofollow"
    href="http://www.facebook.com/"
    onclick="popUp=window.open(
        'http://www.facebook.com/sharer.php?u=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-facebook-square fa-5x"></i>
</a>

<a class="icon-gplus" rel="nofollow"
    href="http://www.plus.google.com/"
    onclick="popUp=window.open(
        'https://plus.google.com/share?url=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-google-plus-square fa-5x"></i>
</a>

<a class="icon-linkedin" rel="nofollow"
    href="http://www.linkedin.com/"
    onclick="popUp=window.open(
        'http://www.linkedin.com/shareArticle?url=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-linkedin-square fa-5x"></i>
</a>

<a class="icon-stumbleupon" rel="nofollow"
    href="http://www.stumbleupon.com/"
    onclick="popUp=window.open(
        'http://www.stumbleupon.com/submit?url=https://kohleth.shinyapps.io/solarapp',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-stumbleupon fa-5x"></i>
</a>

<a class="icon-email" rel="nofollow"
    href="mailto:?subject=Solar App&amp;
    body=I found this useful app at https://kohleth.shinyapps.io/solarapp that lets you compare your solar PV output with your neighbours.">
    <i class="fa fa-envelope fa-5x"></i>
</a>


</body>
</html>
